/.idea
/.vs
/PowerToys-Run-Tempo.sln.DotSettings.user
/Community.PowerToys.Run.Plugin.Tempo/bin
/Community.PowerToys.Run.Plugin.Tempo/obj
/Community.PowerToys.Run.Plugin.Tempo.UnitTest/bin
/Community.PowerToys.Run.Plugin.Tempo.UnitTest/obj

.env
